<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: title" th:remove="tag"></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="container">
		<p></p>
		<center>
		<h2>Sistem Informasi Kepegawaian</h2>
		<p></p>
		<h4>Selamat datang di Sistem Informasi Kepegawaian</h4>
		</center>
		<br>
			<div class="col-md-12">
				<div class="card border-info mb-3 text-center" style="margin:25px;">
					<div class="card-header">
						<h3 th:text="'Tambah Jabatan'"></h3>
					</div>
					<p></p>
					<form th:action="@{/pegawai/view}" method=GET>
						<div class="card-body">
							<label for="nip">Masukkan Nomor Induk Pegawai: </label>
							<input type="text" name="nip" class="form-control"/>
							<p></p>
							<button type="submit" class="btn btn-primary">Lihat</button>
						</div>
					</form>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card border-info mb-3 text-center" style="margin:25px;">
					<div class="card-header"><h3 th:text="'Lihat Detail Jabatan'"></h3></div>
					<div class="card-body">
						Pilih Jabatan: 
						<p></p>
						<form th:action="@{/jabatan/view}" method="GET">
							<select id="location" th:name="id_jabatan">
								<option disabled="disabled" selected="selected">--
									Pilih Jabatan --</option>
								<option th:each="jabatan : ${listJabatan}" th:value="${jabatan.id_jabatan}"
									th:text="${jabatan.nama}"></option>
							</select>
							<p></p>
							<button class="btn btn-primary" type="submit">Lihat</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="card border-info mb-3 text-center" style="margin:25px;">
					<div class="card-header"><h3 th:text="'Lihat Pegawai Termuda dan Tertua'"></h3></div>
					<div class="card-body">
						Pilih Instansi: 
						<p></p>
						<form th:action="@{/pegawai/termuda-tertua}" method="GET">
							<select id="location" th:name="id_instansi">
								<option disabled="disabled" selected="selected">--
									Pilih Instansi --</option>
								<option th:each="instansi : ${listInstansi}" th:value="${instansi.id_instansi}"
									th:text="${instansi.nama_instansi}"></option>
							</select>
							<p></p>
							<button class="btn btn-primary" type="submit">Lihat</button>
						</form>
					</div>
				</div>
			</div>
	</div>	
	
	
	<script>
	$(document).ready(function() {
    $('#example').DataTable();
    </script>
} );
</body>



</html>