<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: title" th:remove="tag"></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
	
    
	<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script> -->
    	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div id="Content" class="container-full-bg">
		<div class="container">
		<br>
			<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header text-center"><h3 th:text="'Tambah Pegawai'"></h3></div>
					<div class="card-body">
						<form th:action="@{/pegawai/update}" id="pegawaiForm" th:object="${pegawai}" method="POST">
							<div class="row">
								<div class="col-md-6">
									<p>Nama</p>
								</div>
								<div class="col-md-6">
									<input type="text" name="nama_pegawai" class= "form-control" th:field="*{nama_pegawai}"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p>Tempat Lahir</p>
								</div>
								<div class="col-md-6">
									<input type="text" name="tempat_lahir" class= "form-control" th:field="*{tempat_lahir}"  />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p>Tanggal Lahir</p>
								</div>
								<div class="col-md-6">
									<input type="date" name="tanggal_lahir" class= "form-control" th:field="*{tanggal_lahir}" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p>Tahun Masuk</p>
								</div>
								<div class="col-md-6">
									<input type="number" name="tahun_masuk" class= "form-control" th:field="*{tahun_masuk}"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p>Provinsi</p>
								</div>
								<div class="col-md-6">
									<select class="form-control" id="provinsi" name="provinsi">
										<option disabled="disabled" selected="selected">-----
											Pilih Provinsi ----</option>
										<option th:each="provinsi : ${listProvinsi}" th:value="${provinsi.id_provinsi}"
											th:text="${provinsi.nama_provinsi}"></option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p>Nama Instansi</p>
								</div>
								<div class="col-md-6">
									<select class="form-control" id="instansi" name="instansi">
										<option disabled="disabled" selected="selected" >----- 
										Pilih Instansi ---- </option>
									</select>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p>Jabatan</p>
								</div>
								<div class="col-md-6">
	                                <span th:each="jabatan,iterationStatus : *{jabatanList}">
			                                <select name="jabatan"  id="jabatan" class="form-control">
			                                    <option disabled="disabled" selected="selected">----- Pilih Jabatan ----</option>
			                                    <option th:each="jabatan : ${listJabatan}" th:field="*{jabatanList[__${iterationStatus.index}__]}" th:value="${jabatan.id_jabatan}" th:text="${jabatan.nama}"></option>
			                                </select>
			                                <br>
		                             </span>
		                             <button type="submit" name="addJabatan" class="btn btn-primary">Tambah Jabatan Lainnya</button>
	                              
								</div>
								
							</div>
							<div class="row">
								<div class="col-md-2">
									<button type="submit" name = "submit" class="btn btn-primary">Simpan</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>	
		<script type="text/javascript">
			$(document).ready(function(){
				console.log("hey")
				$('#provinsi').change(function() {
					valueProv = $(this).val();
					console.log(valueProv)
					$.ajax({
						type: "GET",
						url: "http://localhost:8080/pegawai/tambah/instansi?provinsi=",
						data: {
							'provinsiId' : valueProv
						},
						dataType: 'json',
						success: function(data) {
							console.log(data);
							getIns = '';
							var size = data.length;
						
							for (var i = 0; i<size; i++) {
								getIns+='<option value="'+data[i].id_instansi+'">'+data[i].nama_instansi+'</option>';
								console.log(data[i]);
								console.log(data[i].nama_instansi)
							}
							console.log(getIns);
							$('#instansi').append(getIns);
						},
						error: function(rs,e) {
							alert(rs.responseText)
						}
					})
				})
			});
		</script>
	</div>
	<footer th:replace="fragments/fragment :: footer"></footer>
</body>

</html>