<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: title" th:remove="tag"></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>	
	<div>
		<div class="container-fluid">
		<p></p>
		<h3 th:text="'Update Jabatan'"></h3>
		<p></p>
			<div class="row">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">Form Update Jabatan</div>
					<div class="card-body">
						<form th:action="@{/jabatan/update}" th:object="${jabatan}" method="POST">
							<input type="hidden" th:field="*{id_jabatan}" />
							<div class="row">
								<div class="col-md-6">
									<p>Nama</p>
								</div>
								<div class="col-md-6">
									<input class= "form-control" type="text" name="nama" th:value= "${jabatan.nama}"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p>Deskripsi</p>
								</div>
								<div class="col-md-6">
									<input class= "form-control" type="text" name="deskripsi_jabatan" th:value= "${jabatan.deskripsi_jabatan}"/>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<p>Gaji Pokok</p>
								</div>
								<div class="col-md-6">
									<input class= "form-control" type="number" name="gaji_pokok" th:value= "${jabatan.gaji_pokok}" />
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									<button type="submit" class="btn btn-primary">Simpan</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		</div>	
		<footer th:replace="fragments/fragment :: footer"></footer>
	</div>
</body>

</html>