<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<object th:include="fragments/fragment :: title" th:remove="tag"></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>	
	<div>
		<div class="container-fluid">
		<p></p>
		<h3 th:text="'Detail Jabatan ' + ${jabatan.nama}"></h3>
		<p></p>
		<table class = "table">
		<tbody>
		  <tr>
		    <td th:text= "'Nama'"></td>
		    <td th:text= "': ' + ${jabatan.nama}"></td>
		  </tr>
		  <tr>
		    <td th:text= "'Deskripsi'"></td>
		    <td th:text= "': ' + ${jabatan.deskripsi_jabatan}"></td>
		  </tr>
		  <tr>
		    <td th:text= "'Gaji Pokok'"></td>
		    <td th:text= "': ' + ${jabatan.gaji_pokok}"></td>
		  </tr>
		  </tbody>
		</table>
		<p></p>
		<form th:action="@{/jabatan/update}">
			<button type="submit" class="btn btn-primary">Ubah</button>
			<!-- <button type="submit" class="btn btn-primary">Hapus</button> -->
		</form>
		</div>
	</div>
	
</body>

</html>